{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Masomo Shop | Shopping For Everyone</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static "css/utilities.css" %}">
    <link rel="stylesheet" href="{% static "css/master.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>


<body>
    <!-- Navbar -->
    <div class="navbar">
        <div class="container flex">
            <h1 class="logo">Masomo Shop.</h1>
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="index.html">Sign In</a></li>
                    <li><a href="features.html">Cart</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- Updates -->

    {% block content %} {% endblock %}

    <!-- Footer -->
    <footer class="footer bg-dark py-5">
        <div class="container grid grid-3">
            <div>
                <h1>Masomo Shop</h1>
                <p>Copyright &copy; 2022</p>
            </div>
            <nav>
                <ul>
                    <li><a href="index.html">Location 430-985 Moi Avenue Nrb</a></li>
                    <li><a href="features.html">Terms and conditions</a></li>
                    <li><a href="docs.html">About Us</a></li>
                </ul>
            </nav>
            <div class="social">
                <a href=""><i class="fab fa-github fa-2x"></i></a>
                <a href=""><i class="fab fa-twitter fa-2x"></i></a>
                <a href=""><i class="fab fa-instagram fa-2x"></i></a>
                <a href=""><i class="fab fa-facebook fa-2x"></i></a>
                <a href=""><i class="fab fa-linkedin fa-2x"></i></a>
            </div>
        </div>
    </footer>
</body>

</html>