{% extends "base/base.html" %}
{% load static %}
{% block content %}

<h2 class="md text-center my-2">
    Electronics
</h2>

<!-- Buttons -->
<section class="showcase-search">
    <div class="container">
        <div class="search-case">
            <form action="/form/submit" method="GET">
                <input type="text" name="text" class="search" placeholder="Search here!">
                <input type="submit" name="submit" class="submit" value="Search">
            </form>
        </div>


        <div class="ttons mt-4">
            <div class="inner">
                <a href="#" class="btn btn-dark">Calculators</a>
            </div>
            <div class="inner">
                <a href="#" class="btn btn-dark">Desktop & Monitors</a>
            </div>
            <div class="inner">
                <a href="#" class="btn btn-dark">Printers & Scanners</a>
            </div>
            <div class="inner">
                <a href="#" class="btn btn-dark">LCD Projectors</a>
            </div>
            <div class="inner">
                <a href="#" class="btn btn-dark">Laptops</a>
            </div>
        </div>

    </div>
</section>

<div class="container banner">
    <img src="{% static '/images/shipping.jpg' %}" alt="image">
</div>

<!-- Laptops -->
<section class="languages">
    <div class=" container flex sort">
        <div class="inner">
            <a href="#" class="btn btn-dark">Sort by most popular</a>
        </div>
        <div class="inner">
            <a href="#" class="btn btn-dark">Sort by Price</a>
        </div>
    </div>

    <h2 class="md text-center my-2">
        Laptops
    </h2>

    <div class="row flex my-4">
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Name</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Name</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Name</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Name</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Calculator -->
<section class="languages">
    <div class=" container flex sort">
        <div class="inner">
            <a href="#" class="btn btn-dark">Sort by brand</a>
        </div>
        <div class="inner">
            <a href="#" class="btn btn-dark">Sort by price</a>
        </div>
    </div>

    <h2 class="md text-center my-2">
        Calculators
    </h2>

    <div class="row flex my-4">
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Name</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Name</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Name</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Name</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="cloud">
    <div class="container grid">
        <img src="{% static '/images/book.jpeg' %}" alt="book">
        <img src="{% static '/images/stationary.jpg' %}" alt="Stationary">
    </div>
</section>

<!-- Desktops & Monitors -->
<section class="languages">
    <div class=" container flex sort">
        <div class="inner">
            <a href="#" class="btn btn-dark">Sort by brand</a>
        </div>
        <div class="inner">
            <a href="#" class="btn btn-dark">Sort by price</a>
        </div>
    </div>

    <h2 class="md text-center my-2">
        Desktops & Monitors
    </h2>

    <div class="row flex my-4">
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Name</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Name</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Name</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Name</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Printers & Scanners -->
<section class="languages">
    <div class=" container flex sort">
        <div class="inner">
            <a href="#" class="btn btn-dark">Sort by brand</a>
        </div>
        <div class="inner">
            <a href="#" class="btn btn-dark">Sort by price</a>
        </div>
    </div>

    <h2 class="md text-center my-2">
        Printers & Scanners
    </h2>

    <div class="row flex my-4">
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Name</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Name</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Name</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Name</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- LCD Projectors -->
<section class="languages">
    <div class=" container flex sort">
        <div class="inner">
            <a href="#" class="btn btn-dark">Sort by brand</a>
        </div>
        <div class="inner">
            <a href="#" class="btn btn-dark">Sort by set price</a>
        </div>
    </div>

    <h2 class="md text-center my-2">
        LCD Projectors
    </h2>

    <div class="row flex my-4">
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Name</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Name</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Name</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Name</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}