{% extends "base/base.html" %}
{% load static %}
{% load core_extras %}
{% block content %}

<section class="category">
    <div class="mt-3">
        <!-- <ul class="list-inline text-center">
            {% for category in categories %}
            <li class="list-inline-item"><a class="btn btn-dark rounded-pill" href="#">{{category}}</a></li>
            {% endfor %}
        </ul> -->
        <ul class="list-inline text-center">
            <li class="list-inline-item"><a class="btn btn-dark rounded-pill" href="{% url 'core:books_list'%}">Book</a></li>
            <li class="list-inline-item"><a class="btn btn-dark rounded-pill" href="{% url 'core:uniforms_list'%}">Uniform</a></li>
            <li class="list-inline-item"><a class="btn btn-dark rounded-pill" href="{% url 'core:stationary_list'%}">Stationary</a></li>
            <li class="list-inline-item"><a class="btn btn-dark rounded-pill" href="{% url 'core:electronic_list'%}">Electronic</a></li>
            <li class="list-inline-item"><a class="btn btn-dark rounded-pill" href="{% url 'core:equipment_list'%}">Equipment</a></li>
        </ul>
    </div>
</section>

<div class="">
    <img src="{% static '/images/banner.png' %}" class="img-fluid" alt="image">
</div>


<!-- Books -->
<div class="flex list-inline">
    <div class="inner m-4">
        <a href="#" class="btn btn-dark float-end m-2">Sort by grade</a>
    </div>
    <div class="inner m-4">
        <a href="#" class="btn btn-dark float-end m-2">Sort by Price</a>
    </div>
</div>

<h2 class="md text-center mb-2">
    Top Selling Books
</h2>

<div class="row row-cols-1 row-cols-md-4 g-4 mt-3">
    {% for product in products %}
    {% if product.category.name == 'Book' %}
    
    <div class="col">
        <div class="card h-100">
            <a href="{{product.get_absolute_url}}"><img src="{{product.image.url}}" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <p class="card-text">Kshs. {{product.price}}
                </p>
                <button type="button" class="btn btn-dark rounded-pill"><a href="#"></a>Add to Cart</button>
            </div>
        </div>
    </div>
    
    {% endif %}
    {% endfor %}
</div>

<!-- Electronics -->
<div class="flex list-inline">
    <div class="inner m-4">
        <a href="#" class="btn btn-dark float-end m-2">Sort by grade</a>
    </div>
    <div class="inner m-4">
        <a href="#" class="btn btn-dark float-end m-2">Sort by Price</a>
    </div>
</div>

<h2 class="md text-center my-2">
    Trending Electronics
</h2>

<div class="row row-cols-1 row-cols-md-4 g-4 mt-3">
    {% for product in products %}
    {% if product.category.name == 'Electronic' %}
    
    <div class="col">
        <div class="card h-100">
            <a href="{{product.get_absolute_url}}"><img src="{{product.image.url}}" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <p class="card-text">Kshs. {{product.price}}
                </p>
                <button type="button" class="btn btn-dark rounded-pill"><a href="#"></a>Add to Cart</button>
            </div>
        </div>
    </div>
    
    {% endif %}
    {% endfor %}
</div>

<section class="mt-4">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <img src="{% static '/images/book.jpeg' %}" class="img-fluid" alt="book">
            </div>
            <div class="col-4">
                <img src="{% static '/images/stationary.jpg' %}" class="img-fluid" alt="Stationary">
            </div>
        </div>
    </div>
</section>

<!-- Uniforms -->
<div class="flex list-inline">
    <div class="inner m-4">
        <a href="#" class="btn btn-dark float-end m-2">Sort by grade</a>
    </div>
    <div class="inner m-4">
        <a href="#" class="btn btn-dark float-end m-2">Sort by Price</a>
    </div>
</div>

<h2 class="md text-center my-2">
    Uniforms Products
</h2>

<div class="row row-cols-1 row-cols-md-4 g-4 mt-3">
    {% for product in products %}
    {% if product.category.name == 'Uniform' %}
    
    <div class="col">
        <div class="card h-100">
            <a href="{{product.get_absolute_url}}"><img src="{{product.image.url}}" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <p class="card-text">Kshs. {{product.price}}
                </p>
                <button type="button" class="btn btn-dark rounded-pill"><a href="#"></a>Add to Cart</button>
            </div>
        </div>
    </div>
    
    {% endif %}
    {% endfor %}
</div>

<!-- Stationary -->
<div class="flex list-inline">
    <div class="inner m-4">
        <a href="#" class="btn btn-dark float-end m-2">Sort by grade</a>
    </div>
    <div class="inner m-4">
        <a href="#" class="btn btn-dark float-end m-2">Sort by Price</a>
    </div>
</div>

<h2 class="md text-center my-2">
    Stationery Products
</h2>

<div class="row row-cols-1 row-cols-md-4 g-4 mt-3">
    {% for product in products %}
    {% if product.category.name == 'Stationary' %}
    
    <div class="col">
        <div class="card h-100">
            <a href="{{product.get_absolute_url}}"><img src="{{product.image.url}}" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <p class="card-text">Kshs. {{product.price}}
                </p>
                <button type="button" class="btn btn-dark rounded-pill"><a href="#"></a>Add to Cart</button>
            </div>
        </div>
    </div>
    
    {% endif %}
    {% endfor %}
</div>

<!-- Music Equipment -->
<div class="flex list-inline">
    <div class="inner m-4">
        <a href="#" class="btn btn-dark float-end m-2">Sort by grade</a>
    </div>
    <div class="inner m-4">
        <a href="#" class="btn btn-dark float-end m-2">Sort by Price</a>
    </div>
</div>

<h2 class="md text-center my-2">
    Music Equipment
</h2>

<div class="row row-cols-1 row-cols-md-4 g-4 mt-3">
    {% for product in products %}
    {% if product.category.name == 'Equipment' %}
    
    <div class="col">
        <div class="card h-100">
            <a href="{{product.get_absolute_url}}"><img src="{{product.image.url}}" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <p class="card-text">Kshs. {{product.price}}
                </p>
                <button type="button" class="btn btn-dark rounded-pill"><a href="#"></a>Add to Cart</button>
            </div>
        </div>
    </div>
    
    {% endif %}
    {% endfor %}
</div>

<section class="mt-4">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <img src="{% static '/images/shipping.jpg' %}" class="img-fluid" alt="book">
            </div>
            <div class="col-4">
                <img src="{% static '/images/discount.jpg' %}" class="img-fluid" alt="Stationary">
            </div>
        </div>
    </div>
</section>

<!-- Sports Equipment -->
<div class="flex list-inline">
    <div class="inner m-4">
        <a href="#" class="btn btn-dark float-end m-2">Sort by grade</a>
    </div>
    <div class="inner m-4">
        <a href="#" class="btn btn-dark float-end m-2">Sort by Price</a>
    </div>
</div>

<h2 class="md text-center my-2">
    Sports Equipment
</h2>

<div class="row row-cols-1 row-cols-md-4 g-4 mt-3">
    {% for product in products %}
    {% if product.category.name == 'Equipment' %}
    
    <div class="col">
        <div class="card h-100">
            <a href="{{product.get_absolute_url}}"><img src="{{product.image.url}}" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <p class="card-text">Kshs. {{product.price}}
                </p>
                <button type="button" class="btn btn-dark rounded-pill"><a href="#"></a>Add to Cart</button>
            </div>
        </div>
    </div>
    
    {% endif %}
    {% endfor %}
</div>

{% endblock %}