{% extends "base/base.html" %}
{% load static %}
{% block content %}

<h2 class="md text-center my-2">
    Uniforms
</h2>

<!-- Buttons -->
<section class="showcase-search">
    <div class="container">
        <div class="search-case">
            <form action="/form/submit" method="GET">
                <input type="text" name="text" class="search" placeholder="Search here!">
                <input type="submit" name="submit" class="submit" value="Search">
            </form>
        </div>


        <div class="ttons mt-4">
            <div class="inner">
                <a href="#" class="btn btn-dark">Boys Uniforms</a>
            </div>
            <div class="inner">
                <a href="#" class="btn btn-dark">Shop by School</a>
            </div>
            <div class="inner">
                <a href="#" class="btn btn-dark">Girls Uniforms</a>
            </div>
        </div>

    </div>
</section>

<div class="container banner">
    <img src="{% static '/images/shipping.jpg' %}" alt="image">
</div>

<!-- Shop by School -->
<section class="languages">
    <h2 class="md text-center my-2">
        Shop by School
    </h2>

    <div class="row flex my-4">
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">School 01</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">School 02</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">School 03</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">School 04</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Girls Uniforms -->
<section class="languages">
    <div class=" container flex sort">
        <div class="inner">
            <a href="#" class="btn btn-dark">Sort by most popular</a>
        </div>
        <div class="inner">
            <a href="#" class="btn btn-dark">Sort by Price</a>
        </div>
    </div>

    <h2 class="md text-center my-2">
        Girls Uniforms
    </h2>

    <div class="row flex my-4">
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Uniform</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Uniform</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Uniform</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Uniform</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="cloud">
    <div class="container grid">
        <img src="{% static '/images/book.jpeg' %}" alt="book">
        <img src="{% static '/images/stationary.jpg' %}" alt="Stationary">
    </div>
</section>

<!-- Boys Uniforms -->
<section class="languages">
    <div class=" container flex sort">
        <div class="inner">
            <a href="#" class="btn btn-dark">Sort by most popular</a>
        </div>
        <div class="inner">
            <a href="#" class="btn btn-dark">Sort by price</a>
        </div>
    </div>

    <h2 class="md text-center my-2">
        Boys Uniforms
    </h2>

    <div class="row flex my-4">
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Uniform</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Uniform</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Uniform</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Uniform</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}